.App {
  /*text-align: center;*/
  font-family: calibri;
}

.text-sm {
  font-size: 10px;
}

.text-md {
  font-size: 12px;
}

.text-lg {
  font-size: 14px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.floatImg {
  position: absolute;
  z-index: 10;
  cursor: pointer;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

@media (max-width: 600px) {
  .App {
    font-size: 12px;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
